$primary-color: #34a853;
$primary-color: #febc00;
$primary-color: #eb4134;
$primary-color: #c51f1f;
$primary-color: #4385f5;
$max-width: 1380px;
$horizontal-padding: 2rem 6rem;
$mobile-horizontal-padding: 2rem;