@import '_config';

.container {
  background-color: lighten($primary-color, $amount: 37.5);

  section > div {
    max-width: $max-width;
    width: 100%;
    margin: auto;
    padding: 3rem 0;
  }

  .hero {
    // min-height: 40rem;
    min-height: 35rem;
    color: black;
    padding: $horizontal-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/assets/hero-alt.jpg');
    background-position: 25rem -12rem ;
    // background-position: -10rem 1rem;
    background-size: cover;

    h1 {
      font-size: 5rem;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.25rem;
      margin-top: 1rem;
      
      span {
        color: $primary-color;
        margin: 0 0.5rem;
      }
    }
  }

  .large_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $horizontal-padding;

    &.mirror {
      .content {
        order: 1;
      }
    }

    .card {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: white;
      min-height: 700px;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;

      .content {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h1 {
          font-size: 3.5rem;
          position: relative;
          margin-bottom: 4rem;

          &::after {
            content: '';
            display: block;
            width: 8rem;
            height: 0.2rem;
            position: absolute;
            bottom: -2rem;
            background-color: $primary-color;
          }
        }

        p {
          color: #555;
          font-family: PT sans;
          font-size: 1.2rem;
          line-height: 2.25rem;
        }

        button {
          width: max-content;
        }

        ul, ol {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          li {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            font-size: 1.1rem;
            font-weight: 600;

            svg {
              fill: $primary-color;
              height: 1.5rem;
              width: 1.5rem;
            }
          }
        }
      }

      .image {
        overflow: hidden;
        img {
          height: 100%;
          transform: translateX(-20rem);
        }
      }

      .contact_details {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 2.5rem 1fr;
        gap: 0.5rem;
        
        svg {
          margin-top: 0.5rem;
          width: 1.25rem;
          height: 1.25rem;
          fill: #555;
        }
      }
    }
  }

  .form {
    padding: $horizontal-padding;

    h1 {
      text-align: center;
      font-size: 3.5rem;
      position: relative;
      margin-bottom: 5rem;

      &::after {
        content: '';
        display: block;
        width: 8rem;
        height: 0.2rem;
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $primary-color;
      }
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      label {
        span {
          display: block;
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 1rem;
          width: max-content;
        }
        input,
        textarea {
          display: block;
          width: 100%;
          border: 0;
          border-radius: 1rem;
          font-size: 1.1rem;
          padding: 1.5rem 1.5rem;
          color: #555;
          font-family: inherit;
          resize: none;
        }
      }
      button {
        grid-column: span 2;
        width: max-content;
        margin-left: auto;
      }
    }
  }
}