@import '_config';

.container {
  background-color: transparent;
  padding: 6rem $horizontal-padding;
  width: 100%;
  background-color: lighten($primary-color, $amount: 35.5);

  > div {
    max-width: $max-width;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 10rem;
    }

    .copy {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: 0.1rem solid #11111130;
      text-align: center;
      padding-top: 2rem;
      font-weight: 600;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
      position: relative;
  
      &:hover,
      &.active {
        &::after {
          content: '';
          display: block;
          width: 2rem;
          height: 0.25rem;
          border-radius: 1rem;
          position: absolute;
          background-color: $primary-color;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          animation: link_grow 0.25s ease-in-out;
        }
      }
  
      &.active::after {
        animation: none;
      }
    }
  }

  .info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 2.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    width: 100%;

    h3 {text-transform: uppercase;}

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .contact {
      width: 200px;
      font-size: 1rem;
      margin-left: auto;
      display: grid;

      a {
        color: $primary-color;
      }
    }

    .socials {
      margin-left: auto;
      display: grid;
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

@keyframes link_grow {
  from { width: 0rem; }
  to { width: 2rem; }
}