@import '_config';

.container {
  background-color: transparent;
  padding: 6rem $horizontal-padding;
  width: 100%;
  background-color: lighten($primary-color, $amount: 35.5);

  > div {
    max-width: $max-width;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 10rem;
    }

    .copy {
      width: 75%;
      border-top: 1px solid lighten($primary-color, $amount: 16);
      border-top: 1px solid #000;
      text-align: center;
      margin-top: 2rem;
      padding-top: 2rem;
      font-weight: 600;
    }
  }
}