@import '_config';

html,
body {
  color: #111;
  font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button_pill {
  border: 0;
  border-radius: 10rem;
  padding: 1.25rem 2.75rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  text-align: center;
  font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;
  font-weight: 600;
  color: white;
  background-color: $primary-color;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;

  &.inverted {
    color: $primary-color;
    background-color: white;

    &:hover {
      color: white;
      background-color: $primary-color;
    }
  }

  &:hover {
    color: $primary-color;
    background-color: white;
    border-color: $primary-color;
  }
}

.swiper-button-disabled {
  opacity: 0.5;
}
