@import '_config';

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

  main {
    display: flex;
    height: 100vh;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 600;
    }
  }
}